* {
    border: 1px red solid;
}
.hero{
    background:lavender;
}
.basic-card{
    background:green;
}
.informative-card{
    background:rosybrown;
}
.gallery{
    background:cyan;
}
.features-slider__container{
    background:magenta
}
.host-card{
    background:yellow
}
.location{
    background:turquoise
}
.policies{
    background:violet;
}
.similar-adventures{
    background:seagreen;
}